*{
    margin:0px;
    padding:0px;
    transition: all 0.4s;
    text-align: center;
}

body {
    background-color:honeydew;
    align-items: center;
}

.boy {
    height: 150px;
}

#menu{
    margin-top:5px;
    width:1370px;
     }

#menu img {
opacity: 1;
transform:scale(1);
margin-block: 20px;
margin-right: 30px;
margin-left: 30px;
justify-content: space-between;
display:flex;
border-top-right-radius: 20px ;
border-bottom-left-radius: 20px;
}

#menu img:hover {
    opacity:0.7;
    transform:scale(1.1);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px ;
    border-bottom-left-radius: 0px;
}

#menu li {
    display:inline-block;
}
#menu ul{
    list-style-type: none;
}

#container {
    width:1370px;  
    background-color:#F5E8E4;
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    width: 100%;;
    text-align: center;
}

.menuAlan{
    background-color: #898AA6;
    list-style-type: none;

}.menuAlan li{
display: inline-block;
margin-bottom: 5px;
margin-top: 15px;
}
.menuAlan a{
    color:aliceblue;
    text-decoration: none;
    display:inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 80px;
   
}
.menuAlan a:hover{
    background-color:aliceblue ;
    color: #898AA6;

}
.title{
position:absolute;
  text-align: center;
  margin-left: 15%; 
  color: #ECEFF1;
  font-size: 150px;
  font-weight: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom:20px;
  margin-top:20px ;
  

}
.title2{
    height: 100px;   
    opacity: 0.9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:dimgray;
    margin-bottom: 20px;
    margin-top:20px ;
}
.title3{
    height: 80px;   
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    margin-top:20px ;
    color:lightslategrey;

}
#giris{
    font-size: 20px;
    background-image:url(img/data.jpg);
    border-style:groove;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    box-sizing:content-box;
    margin-bottom:0px;
    }
   